@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/color";
@import "./variables";

// Components
$nav-bg-color: rgba(255, 255, 255, 0.05);
$nav-width: 75px;

// Font
$font-huge: $h1-fontsize;
$font-largest: $h4-fontsize;
$font-larger: $h5-fontsize;
$font-large: 1.2rem;
$font-small: 0.85em;
$font-smallest: 0.75em;

// Colors defs
$brand-color: #c39e65;
$primary-color-contrast: white;
$secondary-color-contrast: white;

$icons-path: '~/fonts' !default;